<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewall</title>
    <link rel="stylesheet" href="../../static/mystyle1.css">
</head>
<body>
    <div class="title">View All</div>
    <div class="table2">

        <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Siva</td>
                    <td>33</td>
                    <td>Male</td>
                    <td>Chennai</td>
                    <td>siva@gmail.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Siva</td>
                    <td>33</td>
                    <td>Male</td>
                    <td>Chennai</td>
                    <td>siva@gmail.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Siva raman</td>
                    <td>56</td>
                    <td>Male</td>
                    <td>Chennai</td>
                    <td>siva@gmail.com</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Siva</td>
                    <td>33</td>
                    <td>Male</td>
                    <td>Chennai</td>
                    <td>siva@gmail.com</td>
                </tr>

            </tbody>
        </table>
    </div>
    
</body>
</html>