<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="../static/css/mystyle.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    
</head>
<body>
    <div class="container">
        <div class="title">
            <h3 class="page-header text-center text-primary">Task-1 SQLite CRUD</h3>
        </div>

        <div class="offset-md-4 col-md-4" id="box1">
            <h4 class="page-header text-info text-center">Let's Update</h4>
            <hr>
            
            <div class="table1">
                <form method="post">
                    {% csrf_token %}
                    <table class="tab1">
                        <tbody>
                            <tr>
                                <th><label for="iname">Name</label></th>
                                <td><input type="text" placeholder="Enter ur Name" name="uname" value="{{cudata.Name}}" required></td>
                            </tr>
                            <tr>
                                <th><label for="idob">DOB</label></th>
                                <td><input type="date" name="udob" id="idob" value="{{cudata.Dob}}" required></td>
                            </tr>
                            
                            <tr>
                                <th><label for="igender">Gender</label></th>
                                <td id='igen'>
                                    <input type="radio" name="ugender" id="igender" value="Male" {% if cudata.Gender == 'Male' %} checked{% endif %} > Male
                                    <input type="radio" name="ugender" id="igender" value="Female" {% if cudata.Gender == 'Female' %} checked{% endif %}> Female
                                    <input type="radio" name="ugender" id="igender" value="Others" {% if cudata.Gender == 'Others' %} checked{% endif %}> Others
                                </td>
                            </tr>
                            <tr>
                                <th><label for="istate">State</label></th>
                                <td>
                                    <select name="ustate" id="istate" >
                                        
                                        <option value="{{cudata.State}}"> {{cudata.State}} </option>
                                        <option value="Tamil Nadu">Tamilnadu</option>
                                        <option value="Kerla">Kerla</option>
                                        <option value="Andhra">Andhra</option>
                                        <option value="Karnataka">Karnataka</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="icontact">Contact</label></th>
                                <td><input type="number" name="ucontact" value="{{cudata.Contact}}" maxlength="10" minlength="8"></td>
                            </tr>
                            <tr>
                                <th><label for="uemail">Email</label></th>
                                <td><input type="email" name="uemail" id="uemail" value="{{cudata.Email}}"></td>
                            </tr>

                            <tr>
                                <td colspan="3">
                                    <input type="submit" value="Update" class="btn btn-info btn-block">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    
    
    
                </form>
            </div>
            
        </div>
            
        
        
    </div>
</body>
</html>


